*{
    padding: 0;
    margin: 0;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
.all{
    width: 100%;
    height: 100%;
    background: url("../images/banner.jpg") no-repeat;
}
.up-all{
    width: 100%;
    height: 100%;
    z-index: 10;
}
.header{
    position: fixed;
    top:0;
    width: 100%;
    height: 60px;
    background-color: #00b3ff;
    opacity: .7;
    color: white;
    text-align: center;
}
.header>p{
    font-size: 45px;
    font-weight: bold;
}
.footer{
    height: 100px;
    bottom: 0;
    position: fixed;
    background-color: #00b3ff;
    opacity: .7;
    color: white;
    text-align: center;
    width: 100%;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: calc(100% - 160px);
    padding-top: 60px;
}
.left{
    opacity: .7;
    order: 1;
    flex-grow: 1;
    background-color: #fffc51;
    height: 100%;
    overflow: scroll;
}
.middle{
    order: 2;
    flex-grow: 3;
    height: 100%;
}
.middle-bg{
    background-color: white;
    position: absolute;
    height: calc(100% - 160px);
    width: 60%;
    z-index: 15;
    opacity: 0.8;
}
.middle-all{

}
.right{
    opacity: .7;
    order: 3;
    flex-grow: 0.3;
    background-color: #fffc51;
    height: 100%;
    overflow: scroll;
    text-align: center;
}
.figure{
    background-color: #fffc51;
    position: absolute;
    width: 600px;
    height: 60px;
    left: 50%;
    right: 50%;
    margin-left: -300px;
    margin-right: -300px;
    bottom: 160px;
    z-index: 20;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.figure>div{
    height: 50px;
    display: none;
    width: 50px;
}
.figure>div>img{
    border-radius: 100%;
    height: 50px;
    background-color: white;
    display: none;
}

.login-bg{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
}

.login{
    background-color: #00b3ff;
    border-radius: 10px;
    z-index: 200;
    position: fixed;
    width: 400px;
    height: 360px;
    top: 30%;
    left: calc(50% - 200px);
    right: calc(50% - 200px);
}
.login>.login-header{
    height: 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    font-size: 25px;
    text-align: center;
    border-bottom: white 1px solid;
}
.login>.login-in{
    line-height: 100px;
    text-align: center;
    width: 220px;
    margin-left: calc(50% - 110px);
}
.login>.login-in>#login-int-name{
    height: 30px;
    width: 100%;
    border-radius: 3px;
    font-size: 1.2em;
}
.login>.login-submit{
    line-height: 60px;
    width: 160px;
    margin-left: calc(50% - 80px);
    text-align: center;
}
.login>.login-submit>.login-button{
    border-radius: 3px;
    background-color: #ffffff;
    border: none;
    height: 30px;
    width: 100%;
}
.login>.level-select{
    line-height: 60px;
    width: 160px;
    margin-left: calc(50% - 80px);
    text-align: center;
}
.login>.level-select>#level{
    height: 30px;
    width: 100%;
    border-radius: 3px;
    font-size: 1.2em;
    background-color: white;
}
.text{
    border: none;
    height: 90%;
    width: 65%;
    font-weight: bold;
    font-size: 18px;
}
#score{
    margin-left: 17.5%;
}
#chat{
    margin-left: 17.5%;
}
.text>div{
    width: 100%;
    text-align: left;
}
.text>div>.name{
    color: #006fff;
    text-decoration: underline;
    height: 40px;
}
.text>div>.info{
    color: #00b3ff;
    height: 40px;
}
#char-input{
    width: 200px;
    height: 40px;
    font-size: 25px;
    color: #00b3ff;
    border: none;
    border-radius: 3px;
    z-index: 999999999999;
}
.chat{
    z-index: 999999999999;
    width: 100%;

    height: 40px;
    text-align: center;
    vertical-align: center;
}
.chat>button{
    z-index: 999999999999;
    height: 38px;
    width: 70px;
    background-color: #00b3ff;
    color: white;
    font-size: 20px;
}